<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Onboarding Welcome Email</title>
</head>
<body>
Dear <span th:text="${nickname}"></span>
Welcome to EVAN'S COMPANY!
We are thrilled to welcome you to the EVAN'S COMPANY family as our new [Employee's Position and Title] in the [Department Name] department. It's a pleasure to have someone of your caliber joining our ranks, and we're confident that you will bring fresh insights and energy to our team.
</body>
</html>